# Compiled binary
bin/
# Build files (.o)
build/

# Object files
*.o
*.out
*.a

# Compiler-generated dependency files
*.d

# VS Code settings (your personal editor config, not part of the project)
.vscode/
to-do-later.md
